@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* ################################################################################## */
/* SIZING FOR THE SMALLEST MOBILE PHONES FIRST                                        */
/* WIDTH BETWEEN 320 AND 359 PIXELS                                                   */
/* ################################################################################## */
* {
    margin: 0;
    padding: 0;
}

header {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
}

h1 {
    position: relative;
    animation: message-display 10s infinite;
    width: 680px;
    height: 30px;
    margin: 0;
    padding: 5px 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/* ################################################################################## */
/* LAYOUT OF THE CANVAS                                                                */

#canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
    height: 430px;
    margin: 0 auto;
    background-color: rgb(218, 235, 235);
    background-size: cover;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
}

#computer-score {
    position: absolute;
    top: 25px;
    left: 5px;
    font-size: 30px;
}

#user-score {
    position: absolute;
    top: 25px;
    left: 290px;
    font-size: 30px;
}

#settings-panel {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 220px;
    text-align: center;
}

#rounds-counter-panel {
    display: none;
    position: absolute;
    top: 5px;
    left: 50px;
    width: 220px;
    text-align: center;
    font-size: 30px;
}

#rounds-counter-text {
    font-size: 17px;
}


#computer-pick-image-panel {
    position: absolute;
    top: 120px;
    left: 5px;
    width: 100px;
    height: 100px;
}

#computer-pick-image {
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

#user-pick-image-panel {
    position: absolute;
    top: 120px;
    left: 210px;
    width: 100px;
    height: 100px;
}

#user-pick-image {
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

#versus-text {
    position: absolute;
    top: 150px;
    left: 125px;
    font-size: 30px;
}

#outcome-text {
    position: absolute;
    top: 70px;
    left: 5px;
    width: 95%;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

#message-text {
    position: absolute;
    top: 230px;
    left: 5px;
    width: 95%;
    text-align: center;
    font-size: 20px;
}

#restart-button {
    position: absolute;
    top: 280px;
    left: 5px;
    width: 95%;
    height: 50px;
    text-align: center;
}

#restart-button img {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0 auto;
}

#user-option-panel {
    position: absolute;
    top: 340px;
    left: 0;
    height: 50px;
    width: 280px;
    background-color: rgb(159 173 174 / 29%);
}

.gray-border {
    border: 20px solid transparent;
    border-image: url(../images/webp/panel-gray-border.webp) 20 round;
}

/* ############################################################################ */
/* PANEL WITH OPTIONS FROM WHICH THE USER CAN PICK THEIR MOVE                  */
#user-rock-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

#user-rock-button-image {
    width: 50px;
    height: 50px;
    z-index: 1;
}

#user-rock-button-image-gray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}


#user-rock-button:hover #user-rock-button-image-gray {
    display: inline;
}

#user-rock-button:active {
    transform: translateY(5px);
}

#user-rock-button:active #user-rock-button-image-gray {
    display: inline;
}

#user-paper-button {
    position: absolute;
    top: 0;
    left: 55px;
    width: 50px;
    height: 50px;
}

#user-paper-button-image {
    width: 50px;
    height: 50px;
    z-index: 1;
}

#user-paper-button-image-gray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#user-paper-button:hover #user-paper-button-image-gray {
    display: inline;
}

#user-paper-button:active {
    transform: translateY(5px);
}

#user-paper-button:active #user-paper-button-image-gray {
    display: inline;
}

#user-scissors-button {
    position: absolute;
    top: 0;
    left: 110px;
    width: 50px;
    height: 50px;
}

#user-scissors-button-image {
    width: 50px;
    height: 50px;
    z-index: 1;
}


#user-scissors-button-image-gray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#user-scissors-button:hover #user-scissors-button-image-gray {
    display: inline;
}

#user-scissors-button:active {
    transform: translateY(5px);
}

#user-scissors-button:active #user-scissors-button-image-gray {
    display: inline;
}

#user-lizard-button {
    position: absolute;
    top: 0;
    left: 165px;
    width: 50px;
    height: 50px;
}

#user-lizard-button-image {
    width: 50px;
    height: 50px;
    z-index: 1;
}

#user-lizard-button-image-gray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#user-lizard-button:hover #user-lizard-button-image-gray {
    display: inline;
}

#user-lizard-button:active {
    transform: translateY(5px);
}

#user-lizard-button:active #user-lizard-button-image-gray {
    display: inline;
}

#user-spock-button {
    position: absolute;
    top: 0;
    left: 225px;
    width: 50px;
    height: 50px;
}

#user-spock-button-image {
    width: 50px;
    height: 50px;
    z-index: 1;
}

#user-spock-button-image-gray {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#user-spock-button:hover #user-spock-button-image-gray {
    display: inline;
}

#user-spock-button:active {
    transform: translateY(5px);
}

#user-spock-button:active #user-spock-button-image-gray {
    display: inline;
}

@keyframes message-display {
    0% {
        left: 360px;
    }

    90% {
        left: -400px;
    }

    100% {
        left: -640px;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 360px to 479px
  */

@media (min-width: 360px) and (max-width: 480px) {
    header {
        width: 360px;
        margin: 0 auto;
    }

    h1 {
        width: 680px;
        height: 30px;
        padding: 5px 0;
        font-size: 20px;

    }

    /* ################################################################################## */
    /* LAYOUT OF THE CANVAS                                                                */

    #canvas {
        width: 360px;
        height: 600px;
    }

    #computer-score {
        top: 25px;
        left: 5px;
        font-size: 40px;
    }

    #user-score {
        top: 25px;
        left: 320px;
        font-size: 40px;
    }

    #settings-panel {
        top: 5px;
        left: 60px;
        width: 240px;
    }

    #rounds-counter-panel {
        top: 5px;
        left: 60px;
        width: 220px;
        font-size: 40px;
    }

    #rounds-counter-text {
        font-size: 17px;
    }

    #computer-pick-image-panel {
        top: 170px;
        left: 0;
        width: 150px;
        height: 150px;
    }

    #computer-pick-image {
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
    }

    #user-pick-image-panel {
        top: 170px;
        left: 220px;
        width: 150px;
        height: 150px;
    }

    #user-pick-image {
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
    }

    #versus-text {
        top: 250px;
        left: 150px;
        font-size: 30px;
    }

    #outcome-text {
        top: 90px;
        left: 5px;
        width: 95%;
        height: 60px;
        font-size: 40px;
    }

    #message-text {
        top: 330px;
        left: 5px;
        width: 95%;
        font-size: 25px;
    }

    #restart-button {
        top: 400px;
        left: 20px;
        width: 95%;
        height: 70px;
    }

    #restart-button img {
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
    }

    #user-option-panel {
        top: 490px;
        left: 0;
        height: 60px;
        width: 320px;
    }

    /* ############################################################################ */
    /* PANEL WITH OPTIONS FROM WHICH THE USER CAN PICK THEIR MOVE                  */
    #user-rock-button {
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
    }

    #user-rock-button-image {
        width: 60px;
        height: 60px;
    }

    #user-rock-button-image-gray {
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
    }

    #user-paper-button {
        top: 0;
        left: 70px;
        width: 60px;
        height: 60px;
    }

    #user-paper-button-image {
        width: 60px;
        height: 60px;
    }

    #user-paper-button-image-gray {
        width: 60px;
        height: 60px;
    }

    #user-scissors-button {
        top: 0;
        left: 130px;
        width: 60px;
        height: 60px;
    }

    #user-scissors-button-image {
        width: 60px;
        height: 60px;
    }


    #user-scissors-button-image-gray {
        width: 60px;
        height: 60px;
    }

    #user-lizard-button {
        top: 0;
        left: 190px;
        width: 60px;
        height: 60px;
    }

    #user-lizard-button-image {
        width: 60px;
        height: 60px;
    }

    #user-lizard-button-image-gray {
        width: 60px;
        height: 60px;
    }

    #user-spock-button {
        position: absolute;
        top: 0;
        left: 260px;
        width: 60px;
        height: 60px;
    }

    #user-spock-button-image {
        width: 60px;
        height: 60px;
    }

    #user-spock-button-image-gray {
        width: 60px;
        height: 60px;
    }


    @keyframes message-display {
        0% {
            left: 360px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    header {
        width: 480px;
        margin: 0 auto;
    }

    h1 {
        width: 680px;
        height: 30px;
        padding: 5px 0;
        font-size: 20px;

    }

    /* ################################################################################## */
    /* LAYOUT OF THE CANVAS                                                                */

    #canvas {
        width: 480px;
        height: 680px;
    }

    #computer-score {
        top: 25px;
        left: 20px;
        font-size: 50px;
    }

    #user-score {
        top: 25px;
        left: 420px;
        font-size: 50px;
    }

    #settings-panel {
        top: 5px;
        left: 120px;
        width: 240px;
    }

    #rounds-counter-panel {
        top: 5px;
        left: 110px;
        width: 280px;
        font-size: 50px;
    }

    #rounds-counter-text {
        font-size: 17px;
    }



    #computer-pick-image-panel {
        top: 170px;
        left: 0;
        width: 200px;
        height: 200px;
    }

    #computer-pick-image {
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
    }

    #user-pick-image-panel {
        top: 170px;
        left: 280px;
        width: 200px;
        height: 200px;
    }

    #user-pick-image {
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
    }

    #versus-text {
        top: 250px;
        left: 190px;
        font-size: 50px;
    }

    #outcome-text {
        top: 110px;
        left: 5px;
        width: 95%;
        height: 60px;
        font-size: 40px;
    }

    #message-text {
        top: 370px;
        left: 5px;
        width: 95%;
        font-size: 30px;
    }

    #restart-button {
        top: 450px;
        left: 20px;
        width: 95%;
        height: 90px;
    }

    #restart-button img {
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
    }

    #user-option-panel {
        box-sizing: border-box;
        top: 550px;
        left: 0;
        height: 130px;
        width: 480px;
    }

    /* ############################################################################ */
    /* PANEL WITH OPTIONS FROM WHICH THE USER CAN PICK THEIR MOVE                  */
    #user-rock-button {
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
    }

    #user-rock-button-image {
        width: 90px;
        height: 90px;
    }

    #user-rock-button-image-gray {
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
    }

    #user-paper-button {
        top: 0;
        left: 90px;
        width: 90px;
        height: 90px;
    }

    #user-paper-button-image {
        width: 90px;
        height: 90px;
    }

    #user-paper-button-image-gray {
        width: 90px;
        height: 90px;
    }

    #user-scissors-button {
        top: 0;
        left: 180px;
        width: 90px;
        height: 90px;
    }

    #user-scissors-button-image {
        width: 90px;
        height: 90px;
    }


    #user-scissors-button-image-gray {
        width: 90px;
        height: 90px;
    }

    #user-lizard-button {
        top: 0;
        left: 270px;
        width: 90px;
        height: 90px;
    }

    #user-lizard-button-image {
        width: 90px;
        height: 90px;
    }

    #user-lizard-button-image-gray {
        width: 90px;
        height: 90px;
    }

    #user-spock-button {
        position: absolute;
        top: 0;
        left: 350px;
        width: 90px;
        height: 90px;
    }

    #user-spock-button-image {
        width: 90px;
        height: 90px;
    }

    #user-spock-button-image-gray {
        width: 90px;
        height: 90px;
    }

    @keyframes message-display {
        0% {
            left: 320px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */










    @keyframes message-display {
        0% {
            left: 320px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */










    @keyframes message-display {
        0% {
            left: 320px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */










    @keyframes message-display {
        0% {
            left: 320px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */










    @keyframes message-display {
        0% {
            left: 320px;
        }

        90% {
            left: -400px;
        }

        100% {
            left: -640px;
        }

    }

}