


/* divs inside the user-option-panel when not picked */
.player-option-picker {
    height: 60px;
    width: 60px;
    display: inline-block;
    color:black;
    background-color: lightblue;

    font-size: 14px;
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}

/* ################################################################################## */
/* LAYOUT OF THE PAGE                                                                */
#settings-panel {   
    left: 10px; 
    height: 50px;
    width: 300px;
    background-color: white;
}



/* Score panel div */
#score-panel {
    position: absolute; 
    top: 171px;
    left: 10px;
    width: 300px;
    height: 20px;
    background-color: rgba(117, 117, 173, 0.282);    
    font-size: 18px;
    font-weight: bold;
}
#score-panel label {
    margin: 5px 25px;
}
#user-score {
    color: green;
}
#computer-score {
    color: green;
}
/* Panel with images of possible choices */
#computer-option-panel {  
    position: absolute; 
    top: 230px;
    left: 10px;
    height: 60px;
    width: 300px;
}

/* Panel for messages such as 'game over' */
#message-panel {
    position: absolute; 
    text-align: center;
    top: 330px;
    left: 10px;
    height: 200px;
    width: 300px;
    background-color: rgba(215, 232, 198, 0.571);    
}

#user-option-panel {  
    position: absolute; 
    top: 570px;
    left: 10px;
    height: 60px;
    width: 300px;
}
.gray-border {
    border: 20px solid transparent;
    border-image: url(../images/webp/panel-gray-border.webp) 20 round;
}

.outcome-message-text {
    margin: 20px;
    text-align: center;
}

#large-message {
    font-size: 30px;
}

/* ############################################################################ */
/* PANEL WITH SYMBOLS THAT INDICATE WHICH MOVE THE COMPUTER HAS PICKED         */
#computer-rock-button {
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
}

#computer-rock-button-image {      
    width: 60px;
    height: 60px;
    z-index: 1;
}

#computer-rock-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-rock-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#computer-paper-button {
    position:absolute;
    top:0;
    left: 60px;
    width: 60px;
    height: 60px;
}

#computer-paper-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#computer-paper-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#computer-paper-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-scissors-button {
    position:absolute;
    top:0;
    left: 120px;
    width: 60px;
    height: 60px;
}

#computer-scissors-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#computer-scissors-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-scissors-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-lizard-button {
    position:absolute;
    top:0;
    left: 180px;
    width: 60px;
    height: 60px;
}

#computer-lizard-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#computer-lizard-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-lizard-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}
#computer-spock-button {
    position:absolute;
    top:0;
    left: 240px;
    width: 60px;
    height: 60px;
}

#computer-spock-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#computer-spock-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#computer-spock-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}
/* ############################################################################ */
/* PANEL WITH OPTIONS FROM WHICH THE USER CAN PICK THEIR MOVE                  */
#user-rock-button {
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
}

#user-rock-button-image {      
    width: 60px;
    height: 60px;
    z-index: 1;
}

#user-rock-button-image-gray {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-rock-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-rock-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-rock-button:hover #user-rock-button-image-gray {
    display: inline;
}

#user-rock-button:active{
    transform: translateY(5px);
}

#user-rock-button:active #user-rock-button-image-green {
    display: inline;
}

#user-paper-button {
    position:absolute;
    top:0;
    left: 60px;
    width: 60px;
    height: 60px;
}

#user-paper-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#user-paper-button-image-gray {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-paper-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#user-paper-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-paper-button:hover #user-paper-button-image-gray {
    display: inline;
}

#user-paper-button:active{
    transform: translateY(5px);
}
#user-paper-button:active #user-paper-button-image-green {
    display: inline;
}

#user-scissors-button {
    position:absolute;
    top:0;
    left: 120px;
    width: 60px;
    height: 60px;
}

#user-scissors-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}


#user-scissors-button-image-gray {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}
#user-scissors-button:hover #user-scissors-button-image-gray {
    display: inline;
}

#user-scissors-button:active{
    transform: translateY(5px);
}
#user-scissors-button:active #user-scissors-button-image-green {
    display: inline;
}

#user-scissors-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#user-scissors-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-lizard-button {
    position:absolute;
    top:0;
    left: 180px;
    width: 60px;
    height: 60px;
}

#user-lizard-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#user-lizard-button-image-gray {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}
#user-lizard-button:hover #user-lizard-button-image-gray {
    display: inline;
}

#user-lizard-button:active{
    transform: translateY(5px);
}
#user-lizard-button:active #user-lizard-button-image-green {
    display: inline;
}
#user-lizard-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#user-lizard-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}

#user-spock-button {
    position:absolute;
    top:0;
    left: 240px;
    width: 60px;
    height: 60px;
}

#user-spock-button-image {
    width: 60px;
    height: 60px;
    z-index: 1;
}

#user-spock-button-image-gray {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}
#user-spock-button:hover #user-spock-button-image-gray {
    display: inline;
}

#user-spock-button:active{
    transform: translateY(5px);
}
#user-spock-button:active #user-spock-button-image-green {
    display: inline;
}

#user-spock-button-image-green {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}


#user-spock-button-image-red {
    display: none;
    position:absolute;
    top:0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: 2;
}